<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>User</title></head>
<body>
<h2>User page</h2>
<table th:border="1" th:cellpadding="5">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr th:each="user : ${user}">
        <td th:text="${user.username}">username</td>
        <td th:text="${user.email}">email</td>
        <td th:each="role: ${user.getRoles()}" th:text="${role.getName().replace('ROLE_', '')}">role</td>
    </tr>
</table>
<br/>
<form th:action="@{/logout}" method="get"><input type="submit" value="Logout"/></form>
</body>
</html>